ts/code/public/drum_3D_model/drum model.obj
ts/code/public/drum_3D_model_old/drum model.obj
ts/code/public/64-archive/drum model.obj
ts/code/public/drum_3D_model/64-archive/drum model.obj
ts/code/public/drum_3D_model_03092025/64-archive/drum model.obj
ts/code/public/drum_3D_model_11052025/drum model.obj
ts/public/drum_3D_model_11052025/drum model.obj
ts/public/drum_3D_model/64-archive/drum model.obj
ts/public/drum_3D_model_03092025/64-archive/drum model.obj

ts/node_modules/*

ts/localhost.key
ts/localhost.crt

ignore/*


